In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('mtcars.csv')
data.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x = data[['qsec']]
scaler.fit(x)
data['qsec'] = scaler.transform(x)
data.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,0.233333,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,0.300000,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,0.489286,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,0.588095,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,0.300000,0,0,3,2

In [9]:
data.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,0.398661,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,0.212731,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,0.000000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,0.284821,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,0.382143,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,0.523810,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,1.000000,1.000000,1.000000,5.000000,8.0000

In [11]:
print(len(data[data['qsec']>0.5]))

9